{% extends 'blog/base.html' %}

{% block content %}
        <div class="post">
            {% if post.published_date %}
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            {% else %}
                <a href="{% url 'post_publish' pk=post.pk %}">Publish</a>
            {% endif %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            
            <h2>{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaks }}</p>

            <!-- comment -->
            <hr>
            <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-default">Add comment</a>
            {% for comment in post.comments.all  %}
                {% if user.is_authenticated or comment.approved_comment %}
                <div class="comment">
                    <div class="date">
                        {{ comment.created_date }}
                        {% if not comment.approved_comment %}
                            <a href="{% url 'comment_remove' pk=comment.pk %}" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a href="{% url 'comment_approve' pk=comment.pk %}" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        {% endif %}
                    </div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.text | linebreaks }}</p>
                </div>
                {% endif %}
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}
        </div>
{% endblock %}