{% extends 'blog/base.html' %}

{% block content %}

    <h1>本当に削除しますか？</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="削除">
        <a href="{% url 'post_list' %}">キャンセル</a>
    </form>

        <div class="post">
            {% if post.published_date %}
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            {% else %}
                <a href="{% url 'post_publish' pk=post.pk %}">Publish</a>
            {% endif %}
            
            <h2>{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaks }}</p>

        </div>
{% endblock %}